.main {
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
        .box {
            font-size: 13px;
            text-align: center;
            align-items: center;
            display: flex;
            justify-content: center;
            height: 40vh;
            width: 0.5vw;
            background-color: black;
            transition: width 0.5s ease;
            color: white;
        }
}
.arrow {
    margin-top: 10vh;
    height: 5vw;
    width: 5vw;
    border-style: solid;
    border-color: black;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
        &:hover {
            border-bottom-width: 4px;
            border-right-width: 4px;
        }
  }