.nav {
    position: fixed;
    font-size: 20px;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: ease-in-out 0.5s;
        p {
            margin-left: 20px;
            margin-right: 20px;
        }
        .home {
            margin-right: auto;
        }
        a {
            text-decoration: none;
        }
}