.nav {
    position: fixed;
    font-size: 20px;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
        p {
            margin-left: 20px;
        }
        .home {
            margin-right: auto;
        }
}