.skills {
    flex-direction: column;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
        h1 {
            letter-spacing: 5px;
        }
        p {
            color: white;
            padding-left: 200px;
            padding-right: 200px;
            margin-top: 30px;
            background-color: black;
            transition: 0.5s;
                &:hover {
                    background-color: grey;
                    color: black;
                }
        }
}